button{
    background-color:red;
    padding: 5px;
    color: white;
}
.container_game{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    gap: 5px;
    
}
.container_main{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 5px;
}
.item{
    padding: 30px;
    border: 5px solid black;
    align-items: center;

}
.blank{
    padding: 30px;
    border: 5px solid black;
    align-items: center;
}
